.logo{
    width: 25%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
}
.button{
 margin-right: 1%;
 width: 120px;
 height: 30px;
 background-color: rgb(243, 242, 242);
 border-radius: 5px;
 /* border: 50px; */
 border-width: 1px;
 border-color: rgb(190, 190, 190);
 box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 2px 8px 0 rgba(0,0,0,0.19);
 
 font-family: Roboto;
}
.buttondiv{
    display: flex;
    justify-content: center;
    text-align: center;
    
}
.search-div{
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: Roboto;
}
.search{
    margin: 0 auto;
display: flex;
justify-content: center;
text-align: left;
margin-bottom: 2%;
margin-top: 2%;
width: 50%;
border-radius: 15px;
border-color: rgb(180, 180, 180);
text-indent: 20px;
line-height: 30px;
align-items: center;
flex-direction: column;
justify-content: flex-start;
border-width: 1px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline;
}
a {
    display: inline;
    padding: 8px;
    color: rgb(112, 112, 112);
}
li {
    float: left;
    text-decoration: none;
    font-family: Roboto;
}
a:link {
    text-decoration: none;
}
a:visited{
    text-decoration: none;
}

a:active {
    text-decoration: none;
}
.footerdiv{
    background-color: rgb(243, 242, 242);
    position: fixed;
    width: 100%;
    bottom: 0;
    height:5%;
    padding-top: 3%;
    font-family: Roboto;
    list-style-type: none;
}
.right-footer{
    float: right;
    padding-right: 5%;
    list-style-type: none;
    color:rgb(112, 112, 112)
}
.footer-line{
    padding-top: 10%;
    border-top: 1px solid rgb(207, 207, 207);
    border-left: transparent;
}
p{
    font-family: Roboto;
}
input {
    outline: none;
}